include *.txt *.py *.bat Makefile
include doc/LGPL doc/Makefile
recursive-include config *.py *.cfg
recursive-include doc *.py *.html *.rst *.xml *.txt *.dtd
recursive-include doc/sphinx *
recursive-include examples *
recursive-include lib *
recursive-include src *
recursive-include test *
recursive-include util *
