setuptools      # needed to setup
wheel           # needed to build wheels
numpy >= 1.6.2  # optional in a basic pygame install, probably needed for development
requests        # might be needed to download some stuff
Sphinx~=4.1     # needed to build docs
cython          # needed to build pygame
