recursive-include buildconfig *
recursive-include docs *
recursive-include src_py *
recursive-include src_c *
recursive-include examples *
recursive-include test *

recursive-exclude buildconfig/ci *
recursive-exclude buildconfig/manylinux-build *

include README.rst

exclude buildconfig/appveyor.yml
exclude .travis.yml
