body {
    margin:0;
    padding:0;
}

body h1, body p {
    margin:10px;    
} 

/* Contains the entire tabbed section */
.tabbed { }

/* List of tabs */.tabbed ul.tabs {
    float: left;
    display: inline;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background-color: #EEEEEE;*/
    
    border-top:1px solid #006c03;
    border-bottom:1px solid #006c03;
    background:#DDDD44;
    
    }

.tabbed ul.tabs li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    }
.tabbed ul.tabs li a {
    overflow: hidden;
    display: block;
    margin: 0 2px 0 0;
    padding: 10px 12px;
    }
.tabbed ul.tabs li a:hover {
    }

/* The current selected tab */
.tabbed ul.tabs li a.tab-current {
    
        border: 2px solid black;
    
    }

/* The content shown when a tab is selected */
.tabbed div {
    float: left;
    display: block;
    width: 100%;
    padding: 10px;
    }

/* Set the CSS to make sure the other tabs' content isn't shown other than the first 
.tabbed div.t2, .tabbed div.t3, .tabbed div.t4 {
    display: none;
    }
*/
/* Content for inside your tabs' divs */
.tabbed div ul {
    }
.tabbed div p {
    }
.tabbed div div {
    }