root=true

[*]
end_of_line = lf
insert_final_newline = true

# The settings for C (*.c and *.h) files are mirrored in src_c/.clang-format.
# Keep them in sync.
[*.{c,h}]
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
max_line_length = 79

[*.{py,pyx}]
indent_style = space
indent_size = 4
charset = utf-8
file_type_emacs = python
trim_trailing_whitespace = true
max_line_length = 79
