/**
 * Pygame stylesheet -- original theme
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@import url("reset.css");
@import url("tooltip.css");

/* -- main layout ----------------------------------------------------------- */

div.clearer {
    clear: both;
}

/* -- relbar ---------------------------------------------------------------- */

div.related {
    width: 100%;
    font-size: 90%;
}

div.related h3 {
    display: none;
}

div.related ul {
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
}

div.related li {
    display: inline;
}

div.related li.right {
    float: right;
    margin-right: 5px;
}

/* -- search page ----------------------------------------------------------- */

ul.search {
    margin: 10px 0 0 20px;
    padding: 0;
}

ul.search li {
    padding: 5px 0 5px 20px;
    background-image: url(file.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
}

ul.search li a {
    font-weight: bold;
}

ul.search li div.context {
    color: #888;
    margin: 2px 0 0 30px;
    text-align: left;
}

ul.keywordmatches li.goodmatch a {
    font-weight: bold;
}

/* -- index page ------------------------------------------------------------ */

table.contentstable {
    width: 90%;
}

table.contentstable p.biglink {
    line-height: 150%;
}

a.biglink {
    font-size: 1.3em;
}

span.linkdescr {
    font-style: italic;
    padding-top: 5px;
    font-size: 90%;
}

#pygame-front-page dt {
    padding-top: 1em;
}

#pygame-front-page dl {
    padding: 0 0 0 1em;
}

#pygame-front-page h2 {
    padding: 1em 0 0 0;
}

/* -- general index --------------------------------------------------------- */

table.indextable td {
    text-align: left;
    vertical-align: top;
}

table.indextable dl, table.indextable dd {
    margin-top: 0;
    margin-bottom: 0;
}

table.indextable tr.pcap {
    height: 10px;
}

table.indextable tr.cap {
    margin-top: 10px;
    background-color: #f2f2f2;
}

img.toggler {
    margin-right: 3px;
    margin-top: 3px;
    cursor: pointer;
}

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: serif;
    color: #000000;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    border-style: none;
}

div.header {
    padding: 0.5em;
    background-color: #aaeebb;
    color: ;
    line-height: 1.2em;
}

div.header table {
    border: 3px solid black;
    border-collapse: collapse;
    background-color: #6aee28;
}

div.header td {
    border-right: 3px solid black;
}

div.header .logo {
    background-color: #c2fc20;
    text-align: center;
    vertical-align: middle;
    padding: 0.3em;
}

div.header .logo img {
    min-width: 200px;
    min-height: 60px;
    border-style: none;
}

div.header .logo strong {
    weight: bold;
}

dev.header .logo a {
    visibility: hidden;
}

div.header .pagelinks {
    padding: 0.3em;
    text-align: center;
    vertical-align: middle;
}

div.header p.top {
    margin-top: 0;
}

div.header p.bottom {
    margin-bottom: 0;
}

div.header .pagelinks a {
    text-decoration: underline;
}    

div.header .pagelinks a:hover {
    text-decoration: none;
}

div.document {
    background-color: #aaeebb;
}

div.documentwrapper {
    float: left;
    width: 100%;
}

div.bodywrapper {
    margin: 0 0 0 230px;
}

div.body {
}

div.heading {
    padding: 0 0 0 0.5em;
}

div.sectionwrapper {
    padding: 0 2em 1em 0.5em;
}

div.footer {
    display: none;
    color: #000000;
    width: 100%;
    padding: 9px 0 9px 0;
    text-align: center;
    font-size: 75%;
}

div.footer a {
    background-color: #11303d
    color: #000000;
    text-decoration: underline;
}

div.related {
    background-color: #6aee28;
    line-height: 30px;
    color: #000000;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

div.related a {
    color: #000000;
}

div.sphinxsidebar {
}

div.sphinxsidebar h3 {
    font-family: serif;
    color: #ffffff;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

div.sphinxsidebar h3 a {
    color: #ffffff;
}

div.sphinxsidebar h4 {
    font-family: serif;
    color: #ffffff;
    font-size: 1.3em;
    font-weight: normal;
    margin: 5px 0 0 0;
    padding: 0;
}

div.sphinxsidebar p {
    color: #ffffff;
}

div.sphinxsidebar p.topless {
    margin: 5px 10px 10px 10px;
}

div.sphinxsidebar ul {
    margin: 10px;
    padding: 0;
    color: #ffffff;
}

div.sphinxsidebar a {
    color: #98dbcc;
}

div.sphinxsidebar input {
    border: 1px solid #98dbcc;
    font-family: sans-serif;
    font-size: 1em;
}

/* -- body styles ----------------------------------------------------------- */

a {
    color: #000000;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}

p {
    margin-top: 1em;
}

dl {
    padding-top: 2em;
}

dd {
    margin-left: 30px;
}
 
dt tt {
    font-weight: bold;
    font-size: 1.1em;
}

dt.module {
    margin-bottom: 1em;
}

table.toc {
    margin-left: 2em;
}

table.toc td {
    border-style: none;
    padding-right: 10px;
}

dt.module {
    margin-bottom: 1em;
}

span.summaryline {
    font-style: italic;
}

span.signature {
    font-family: monospace;
}

table.docutils td.toc {
    border-style: none;
}

dl.class em.property {
/*    display: none;*/
}

dl.argsig tt.descclassname {
/*    display: none;*/
}

div.body p, div.body dd, div.body li {
    text-align: left;
    line-height: 130%;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: serif;
    font-weight: bold;
    margin: 12.5% 0 12.5% 0
    padding: 12.5% 0 12.5% 0;
    text-align: left;
}

div.body h6 {
    font-weight: normal;
    font-style: italic;
    margin: 0;
    padding: 0;
    line-height: 130%;
}

div.body h1 { font-size: 1.5em; }
div.body h2 { font-size: 1.4em; }
div.body h3 { font-size: 1.3em; }
div.body h4 { font-size: 1.2em; }
div.body h5 { font-size: 1.1em; }
div.body h6 { font-size: 1.0em; }

a.headerlink {
    color: #c60f0f;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    background-color: #c60f0f;
    color: white;
}

a.headerlink {
    visibility: hidden;
}

dt:hover > a.headerlink {
    visibility: visible;
}

div.body p, div.body dd, div.body li {
    text-align: left;
    line-height: 130%;
}

blockquote {
    margin-left: 2em;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.admonition p {
    margin-bottom: 5px;
}

div.admonition pre {
    margin-bottom: 5px;
}

div.admonition ul, div.admonition ol {
    margin-bottom: 5px;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.topic {
    background-color: #eee;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

p.linklist {
    text-align: center;
}

pre {
    font-family: monospace;
    padding: 5px;
    margin-left: 30px;
    margin-bottom: 1em;
    background-color: #eeffcc;
    color: #333333;
    line-height: 120%;
    border: 1px solid #ac9;
    border-left: none;
    border-right: none;
}

.warning tt {
    background: #efc2c2;
}

.note tt {
    background: #d6d6d6;
}

ul.simple {
    list-style-type: circle;
    list-style-position: inside;
    margin-bottom: 1em;
}

/* -- tooltip style --------------------------------------------------------- */

a.tooltip {
    text-decoration: underline;
}

a.tooltip:hover {
    text-decoration: none;
}

.tooltip-content {
    width: 250px;
    background-color: #c2fc20;
    border: 1px solid #ace01C;
    padding: 3px;
    border-radius: 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}